<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Settings" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<StackLayout class="page__content">
    <!-- Label class="page__content-icon fas" text="&#xf013;"></Label -->
    <Label class="h1 text-center" text="Datos usuario"></Label>
    <Button (tap)="onUserButton()" style="height: 48;">
        <FormattedString>
            <Span text="Editar username" style="font-size: 24px;"></Span>
        </FormattedString>
    </Button>
    <Label class="h2 text-center" [text]="'Nombre de usuario editado: ' + this.user"></Label>
    <Button (tap)="onEmailButton()" style="height: 48;">
        <FormattedString>
            <Span text="Editar email" style="font-size: 24px;"></Span>
        </FormattedString>
    </Button>
    <Label class="h2 text-center" [text]="'Email : ' + this.email"></Label>
</StackLayout>