<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Search" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<StackLayout class="page__content" #layout>
  <Label class="page__content-icon fas" text="&#xf002;"></Label>
  <SearchForm (search)="buscarAhora($event)" [inicial]="'hola'"></SearchForm>
  <PullToRefresh (refresh)="onPull($event)">
    <Listview class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height: 1250px">
    	<ng-template let-x="item">
    		<FlexboxLayout flexDirection="row" class="list-group-item">
    			<Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress2(x)"></Image>
    			<Label [text]="x" class="list-group-item-heading" verticalAlignment="center" styñe="width:60%" (longPress)="onEmail()"></Label>
          <Button text="Detalle" (tap)="onTap('detalle')" (longPress)="onLongPress($event)"></Button>
    		</FlexboxLayout>
    	</ng-template>
    </Listview>
  </PullToRefresh>
</StackLayout>
