<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Home" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf015;"></Label>
  <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>
  <Button text="Foto" (tap)="onButtonTap()"></Button>
</GridLayout>
