<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Featured" colSpan="2"></Label>

        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
    </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf005;"></Label>
  <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>

  <GridLayout class="bg-primary p-15 m-15" width="200" heihgt="200" (longPress)="onLongPress($event)">
  	<Image class="img-rounded" src="res://icon" stretch="none"></Image>
  </GridLayout>
</GridLayout>
