<ActionBar>
    <Label text="Detalle Component"></Label>
</ActionBar>

<StackLayout class="page__content">
  <Button class="btn btn-primary" text="Volver a Search" (tap)="goBack()"></Button>
</StackLayout>
